.results {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.result_item {
    list-style: none;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    line-height: 2em;
}